*.sref
*.pdf
*.hd
*.mw
*.tst
*.upa
*.upb
*.fls
*.rel
*.sms
*.bbl
*.blg
*.out
*.synctex.gz
*.run.xml
*.thm
*.bak
*.idx
*.ind
*.ilg
*.log
*.toc
*.aux
auto
*.nav
*.snmv
*.vrb
*.tmp
*.glo
*.gls
*.deps
*-blx.bib
*.bcf
_region_.tex
.DS_Store
*~
*.fdb_latexmk